{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Основные стили */
body {
    background-color: #f4f4f4;
    height: 100%;
}

main {
    min-height: calc(100vh - 130px);
    /* 100vh - высота экрана
    130px - высота header и footer */
}


header {
    background-color: #1c1c1c;
    color: #fff;
    padding: 2rem;
}

footer {
    background-color: #1c1c1c;
    color: #fff;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

h1 {
    margin-bottom: 1rem;
}


nav {
    display: flex;
}

    nav a {
        color: #fff;
        text-decoration: none;
        padding: 1rem;
    }

button {
    background-color: #ff1439;
    color: #fff;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: all .3s;
}

    button:hover {
        background-color: #ff0066;
    }
